<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Feedback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label position='stacked'>Title</ion-label>
    <ion-input [(ngModel)]='feedback.title'></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position='stacked' placeholder='Optional'>Description</ion-label>
    <textarea id='descrition' [(ngModel)]='feedback.description' (input)='resize()' width='100%'></textarea>
  </ion-item>

  <ion-item>
    <ion-label position='stacked'>Category</ion-label>
    <!-- make it a beautiful selectrion -->
    <ion-select placeholder="Select Category" [(ngModel)]='feedback.category'>
      <ion-select-option value="error_bug">Error or Bug</ion-select-option>
      <ion-select-option value="improve">Improve Idea</ion-select-option>
      <ion-select-option value="other">Other</ion-select-option>
    </ion-select>
  </ion-item>

  <div align='center' class='send-feedback-button-container'>
    <ion-button *ngIf='feedback.title && feedback.category' class='send-feedback-button' (click)='send_feedback()'>Send Feedback</ion-button>
    <ion-button *ngIf='!(feedback.title && feedback.category)' class='send-feedback-button' disabled>Send Feedback</ion-button>
  </div>

</ion-content>
