$padding: 50%; // top and bottom in Parent Div

@mixin vertical-align {
    position: relative;
    top: 45%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.container {
    @include vertical-align();
    text-align: center;
}

.temporary-countdown-button {
    padding: 4px;
}

// .container2 {
//     display: table-cell;
//     vertical-align: middle;
//     background-color: rgba(0,255,255,0.2);
// }