svg {
    background-color: blue;
}

#timer {
    align-content: center;
}

.triangle-up {
    width: 0;
    height: 0;
    border: solid 15px;
    border-color: transparent transparent black transparent;
}