.h-title {
    color: #44cc13;
}

#login-button {
    color: white;
    background-color: #CC1445;
    padding: 11px;
    border-radius: 50px;
}

#special-header {
    color: #cc1344;
}

.input-text {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    --padding-start: 11px;
}

.label {
    padding-left: 15px;
}

.input-field {
    border-radius: 12px;
}

#signup-content {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding-bottom: 8px;
}

#signup-text {
    color: rgba(0, 0, 0, 0.7);
}