<ion-content fullscreen>
  <ion-slides pager="true">
    <ion-slide id="first-page">
      <div id="text-container">
        <img src="./../../assets/pics/logo.png" id="logo">
        <h2>Hello</h2>
        <p>Welcome to Countr</p>
      </div>
    </ion-slide>
    <!-- <ion-slide>
      <div align="center">
        <img src="./../../assets/pics/logo.png" id="logo">
        <h2>Features</h2>
        <p>
          <ul>
            <li>Works Offline</li>
          </ul>
        </p>
      </div>

      <div class="button" id="get-started" align="center" (click)="getStarted()">
        Get Started
      </div>
    </ion-slide> -->

  </ion-slides>
</ion-content>