<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add Count Down</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label position='stacked'>Title</ion-label>
      <ion-input name='title' [(ngModel)]='newCountdown.title'></ion-input>
    </ion-item>

    <ion-item class="repeat-input">
      <ion-label>Repeat</ion-label>
      <ion-toggle class="repeat-toggle" [(ngModel)]="newCountdown.isRepeat" (ngModelChange)="custom.showInfo()"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Date & Time</ion-label>
      <ion-datetime name='datetime' [max]='max_time' displayFormat="DD MMM YYYY hh:mm A" pickerFormat="DD MM YYYY HH mm"
        [(ngModel)]="newCountdown.datetime" (ngModelChange)='check()'></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position='stacked'>Description : </ion-label>
      <textarea id="description" (input)='resize()' width='100%' [(ngModel)]='newCountdown.description'></textarea>
    </ion-item>

    <ion-item>
      <ion-label position='stacked'>Category </ion-label>
      <ion-select placeholder="Select Category" [(ngModel)]='newCountdown.category'>
        <ion-select-option value="__default__">Default</ion-select-option>
        <ion-select-option *ngFor="let item of categories" value="{{item}}">
          {{item}}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <div align='center' class='center-add'>
    <ion-button *ngIf='!this.false_time;' (click)="saveItem()">Add</ion-button>
    <ion-button *ngIf='this.false_time;' (click)="saveItem()" disabled>Add</ion-button>
  </div>

</ion-content>