.h-title {
    color: #44cc13;
}

#create {
    padding: 12px;
    font-size: 18px;
    border-radius: 20px;
    color: #feeefe;
    background-color: #44cc13;
}

#special-header {
    color: #cc1344;
}

.input-text {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    --padding-start: 11px;
}

.label {
    padding-left: 15px;
}

.input-field {
    border-radius: 12px;
}

#signup-content {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding-bottom: 8px;
}

#eror {
    background-color: red;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}