<ion-header>
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2 align='center' class="h-title">Mem<font id='special-header'>Zy</font>
  </h2>
  <!-- <ion-list> -->
  <ion-item>
    <ion-label position='stacked'>Name</ion-label>
    <ion-input type='name' class='input-text' [(ngModel)]='user.name'></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position='stacked'>Email</ion-label>
    <ion-input type='email' class='input-text' [(ngModel)]='user.email'></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position='stacked'>Password</ion-label>
    <ion-input type='password' class='input-text' [(ngModel)]='user.password'></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position='stacked'>Confirm Password</ion-label>
    <ion-input type='password' class='input-text' [(ngModel)]='conf_password'></ion-input>
  </ion-item><br />

  <div align='center'>
    <button 
      *ngIf='!(user.name && user.email && user.password && conf_password)' 
      id='create'
      (click)='check()'
      disabled>
        Create
      </button>
    <button
      *ngIf='(user.name && user.email && user.password && conf_password)' 
      id='create'
      (click)='check()'>
        Create
    </button>
  </div>

  <div id='signup-content' align='center'>
    <font>Already Have an Account?</font><br />
    <font ion-text (click)='login()'>Log In</font>
  </div>
  <!-- </ion-list> -->
</ion-content>
