// @import "../../global.scss";

// #create-button {
//     // padding: 12px;
//     font-size: 18px;
//     // border-radius: 20px;
//     color: hsl(300, 89%, 96%);
//     background-color: hsl(164, 83%, 43.7%);
// }

#create-button {
    color: white;
    background-color: hsl(164, 83%, 43.7%);
    border-radius: 50px;
    padding: 11px;
}

// #eror {
//     background-color: hsl(360, 100%, 50%);
//     position: absolute;
//     bottom: 0;
//     right: 0;
//     left: 0;
// }