<!--
Generated template for the EditPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edit</ion-title>
  </ion-toolbar>
         
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label position='stacked'>Title</ion-label>
      <ion-input [(ngModel)]='countdown.title' id='title' type="text"></ion-input>
    </ion-item>

      <ion-item class="repeat-input">
        <ion-label>Repeat</ion-label>
        <ion-toggle class="repeat-toggle" [(ngModel)]="countdown.isRepeat" (ngModelChange)="custom.showInfo()"></ion-toggle>
      </ion-item>

    <ion-item>
      <ion-label>Date & Time</ion-label>
      <ion-datetime [(ngModel)]='countdown.datetime' id='date' [min]='min_time' [max]='max_time' displayFormat="DD MMM YYYY hh:mm A" pickerFormat="DD MM YYYY HH mm"></ion-datetime>
    </ion-item>
    
    <ion-item>
      <ion-label position='stacked'>Description : </ion-label>
      <textarea id="description" (input)='resize()' width='100%' [(ngModel)]='countdown.description'></textarea>
    </ion-item>

    <ion-item>
      <ion-label position='stacked'>Category </ion-label>
      <ion-select placeholder="Select Category" [(ngModel)]='countdown.category'>
        <ion-select-option value="__default__">Default</ion-select-option>
        <ion-select-option *ngFor="let item of categories" value="{{item}}">
          {{item}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <div align='center'>
      <ion-button (click)='saveEdits()'>Save</ion-button>
    </div>
  </ion-list>
</ion-content>