<!--
Generated template for the EditPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    <ion-title>Edit</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>Title</ion-label>
      <ion-input [(ngModel)]='reminder.title' id='title' type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime [(ngModel)]='reminder.date' id='date' displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Time</ion-label>
      <ion-datetime [(ngModel)]='reminder.time' id='time' displayFormat="HH:mm" pickerFormat="HH mm"></ion-datetime>
    </ion-item>

    <div id='description-ele'>
      <ion-label>Description : </ion-label>
      <!-- <textarea #description1 [(ngModel)]='description' id="description" rows="1" (keyup)="resize()"></textarea> -->
      <ion-textarea #description1 id='description' [(ngModel)]='reminder.description' rows='1' (keyup)='resize()'></ion-textarea>
    </div>

    <div align='center'>
      <button ion-button (click)='saveEdits()'>Save</button>
    </div>
  </ion-list>
</ion-content>