// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import './splash.scss';

@font-face {
font-family: Oxygen Regular;
// src: url("../src/assets/fonts/OpenSans-Regular.ttf");
src: url("src/assets/fonts/Oxygen-Regular.ttf");
}

$desktop-breakpoint: 800px;

.ion-color-aple {
--ion-color-base: var(--ion-color-aple) !important;
--ion-color-base-rgb: var(--ion-color-aple-rgb) !important;
--ion-color-contrast: var(--ion-color-aple-contrast) !important;
--ion-color-contrast-rgb: var(--ion-color-aple-contrast-rgb) !important;
--ion-color-shade: var(--ion-color-aple-shade) !important;
--ion-color-tint: var(--ion-color-aple-tint) !important;
}

@mixin desktop {
    @media (min-width: #{$desktop-breakpoint}) {
        @content;
    }
}

body {
    padding: 35px;
}

// changing the global elements
* {
    font-family: "Oxygen Regular" !important;
    font-weight: bold;
}
//
// <hr>'s styles, hr is not working
hr {
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
    width: 100%;
}
// to hide scrollbar
::-webkit-scrollbar, *::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}

ion-content {
  overflow: hidden;
  --overflow: hidden;
  --ion-background-color: hsl(0, 0%, 99%); 
}

ion-toolbar {
    --background: hsl(0, 0%, 99%);
}

.scroll-content {
  overflow: hidden;
}
//
// headings
.h-title {
    color: hsl(164, 83%, 43.7%);
}

#special-header {
    color: hsl(344, 83%, 43.7%);
}
//
.label {
    padding-left: 15px;
}

.input-text {
    background-color: hsla(0, 0%, 0%, 0.20);
    border-radius: 12px;
    --padding-start: 11px;
}

.input-field {
    border-radius: 12px;
}

#signup-content {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding-bottom: 8px;
}

.repeat-toggle {
    position: relative;
    right: 0;
}

.category {
    font-weight: 100;
    margin-left: 6px;
}

.container {
    margin-top: 5px;
    margin-bottom: 5px;
}