#logout-button-home {
    font-size: 16px;
    margin-bottom: 8px;
    width: 60%;
}

#container {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#credit {
    color: rgba(2, 1, 0, 0.356);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 15.3px;
    padding-bottom: 2px;
}

#delete {
    background-color: rgba(255, 255, 255, 0);
}

#cont {
    height: 100%;
    background-color: yellow;
}

// .category {
//     font-weight: 100;
//     margin-left: 6px;
// }

// .container {
//     margin-top: 5px;
//     margin-bottom: 5px;
// }

.add-notes-container {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.add-notes {
    width: 100%;
    padding-top: 8px;
    background-color: rgb(146, 243, 89);
}

// .add-notes-input {
//     width: 90%;
// }