<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="pop()" small>
      </ion-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button id='add' (click)='add()' small>
        <ion-icon name='add'></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item *ngFor='let item of count_downs' (click)='details(item.key)'>{{item.title}} 
      <ion-buttons slot='end'>
        <ion-button id='delete' (click)='delete(item.key)' color='danger' small>
          <ion-icon name='trash'></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  
</ion-content>