@import './../../global.scss';

$header-height: 5vw;
$desktop-breakpoint: 800px;
$sidebar-width: 48px;

@font-face {
    font-family: OpenSans Regular;
    src: url("src/assets/fonts/OpenSans-Regular.ttf");
}

#logout-button-home {
    font-size: 16px;
    margin-bottom: 8px;
    width: 60%;
}

#container {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#credit {
    color: rgba(2, 1, 0, 0.356);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 15.3px;
    padding-bottom: 2px;
}

#delete {
    background-color: rgba(255, 255, 255, 0);
}

#cont {
    height: 100%;
    background-color: yellow;
}

// .category {
//     font-weight: 100;
//     margin-left: 6px;
// }

// .container {
//     margin-top: 5px;
//     margin-bottom: 5px;
// }

.add-notes-container {
    width: 100%;
    position: fixed;
    bottom: 0;
    // right: 0; left: 0;
    margin: 0; padding: 0;
    padding-bottom: 15px;

    .add-notes {
        width: 100%;
        padding-top: .5vh;
        background-color: rgb(146, 243, 89);

        @include desktop {
            padding: .5vh;
            width: 50vw;
        }
    }
}
   
#header {
    @include desktop {
        width: 100%;
        height: $header-height;
        position: fixed;
        top: 0;
        background-color: aqua;
    }

    span#title {
        
        font-size: 44px;
        font-family: "OpenSans Regular" !important;
    }
}