<!-- 
<ion-header>
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="pop($event)" small>
        <ion-icon name='menu'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button id='add' (click)='add()' small>
        <ion-icon name='add'></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header> -->
  
  <!-- <h5 *ngIf="parse.notes.length > 0" align="center" style="font-weight: bold">Your Notes</h5> -->

  
<!-- </ion-content> -->

<!-- <div align="center" class="add-notes-container">
  <ion-item lines="none" class="add-notes">
    <ion-input class="add-notes-input" type="text" placeholder="Add a note" [(ngModel)]="newNote.text"></ion-input>
    <ion-buttons slot='end' (click)="saveNote()">
      <ion-button id='save-note' small>
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</div> -->

<ion-tabs>  
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="countdowns">
      <ion-icon name="stopwatch"></ion-icon>
      <ion-label>Countdowns</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notes">
      <ion-icon name="document"></ion-icon>
      <ion-label>Notes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>