<!--
  Generated template for the DetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button id='delete' (click)='delete()' color='danger' small>
        <ion-icon name='trash'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>CountIt</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <h2 align='center'>
    {{countdown.title}} <ion-icon *ngIf="countdown.isRepeat" name="infinite"></ion-icon>
  </h2><br><br>

  <div class="timer-finished" align="center" *ngIf="!output.days && !output.hours && !output.minutes && !output.seconds && !output.mseconds">
    Finished
  </div>

  <div class='timer' align='center' *ngIf="output.days || output.hours || output.minutes || output.seconds || output.mseconds">
    <span id="timer-digit" class="days" *ngIf="output.days">{{output.days}}D</span>
    <span id="divider" *ngIf="output.days"> : </span>
    <span id="timer-digit" class="hours" *ngIf="output.hours">{{output.hours}}h</span>
    <span id="divider" *ngIf="output.hours"> : </span>
    <span id="timer-digit" class="minutes" *ngIf="output.minutes">{{output.minutes}}m</span>
    <span id="divider" *ngIf="output.minutes"> : </span>
    <span id="timer-digit" class="seconds">{{output.seconds}}.{{output.mseconds}}s</span>
  </div>
  <br><br>

  <div align='center' class='description'>
    <span *ngIf="countdown.description">
      {{countdown.description}}<br />
      <br />
    </span>
    {{stop_time}}<br />
    <br />
    <a *ngIf="countdown.category != '__default__'">
      <ion-chip (click)="categoryPage()" color="primary">
        <ion-label class="category-name">{{countdown.category}}</ion-label>
      </ion-chip>
    </a>
  </div>

  <div class="edit-container" align="center">
    <ion-button id='edit' (click)='edit()' color="secondary">
      Edit
    </ion-button>
  </div>

</ion-content>