<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button id='delete' (click)='delete()' color='danger' small>
        <ion-icon name='trash'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Countr</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>
  <h2 align='center'>
    {{countdown.title}} <ion-icon *ngIf="countdown.isRepeat" name="infinite"></ion-icon>
  </h2><br><br>
  
  <div align="center" [class.minus-timer]="minusTimer">
    <div id="days-container" *ngIf="output.days">
      <div [class.timer-digit]="!isDesktop" [class.timer-digit-desktop]="isDesktop">{{output.days}}</div>
      <div [class.timer-descriptor]="!isDesktop" [class.timer-descriptor-desktop]="isDesktop">Days</div>
    </div>
    <div id="hours-container" *ngIf="!(output.days) && output.hours">
      <div [class.timer-digit]="!isDesktop" [class.timer-digit-desktop]="isDesktop">{{output.hours}}</div>
      <div [class.timer-descriptor]="!isDesktop" [class.timer-descriptor-desktop]="isDesktop">Hours</div>
    </div>
    <div id="minutes-container" *ngIf="!(output.days || output.hours) && output.minutes">
      <div [class.timer-digit]="!isDesktop" [class.timer-digit-desktop]="isDesktop">{{output.minutes}}</div>
      <div [class.timer-descriptor]="!isDesktop" [class.timer-descriptor-desktop]="isDesktop">Minutes</div>
    </div>
    <div id="seconds-container" *ngIf="!(output.days || output.hours || output.minutes) && output.seconds">
      <div [class.timer-digit]="!isDesktop" [class.timer-digit-desktop]="isDesktop">{{output.seconds}}</div>
      <div [class.timer-descriptor]="!isDesktop" [class.timer-descriptor-desktop]="isDesktop">Seconds</div>
    </div>
  </div>

  <!-- <div align="center" *ngIf="minusTimer" class="minus-timer">
    <div id="seconds-container" *ngIf="output.seconds">
      <div [class.timer-digit]="!isDesktop" [class.timer-digit-desktop]="isDesktop">{{output.seconds}}</div>
      <div [class.timer-descriptor]="!isDesktop" [class.timer-descriptor-desktop]="isDesktop">Seconds</div>
    </div>
    <div id="minutes-container" *ngIf="output.minutes">
      <div [class.timer-digit]="!isDesktop" [class.timer-digit-desktop]="isDesktop">{{output.minutes}}</div>
      <div [class.timer-descriptor]="!isDesktop" [class.timer-descriptor-desktop]="isDesktop">Minutes</div>
    </div>
    <div id="hours-container" *ngIf="()output.hours">
      <div [class.timer-digit]="!isDesktop" [class.timer-digit-desktop]="isDesktop">{{output.hours}}</div>
      <div [class.timer-descriptor]="!isDesktop" [class.timer-descriptor-desktop]="isDesktop">Hours</div>
    </div>
    <div id="days-container" *ngIf="output.days">
      <div [class.timer-digit]="!isDesktop" [class.timer-digit-desktop]="isDesktop">{{output.days}}</div>
      <div [class.timer-descriptor]="!isDesktop" [class.timer-descriptor-desktop]="isDesktop">Days</div>
    </div>
  </!-->

  <br /><br />

  <div align='center' class='description'>
    <span *ngIf="countdown.description">
      {{countdown.description}}<br />
      <br />
    </span>
    {{stop_time}}<br />
    <br />
    <a *ngIf="countdown.category != '__default__'">
      <ion-chip (click)="categoryPage()" color="primary">
        <ion-label class="category-name">{{countdown.category}}</ion-label>
      </ion-chip>
    </a>
  </div>

  <div id="countdown-button-container" align="center" *ngIf="countdown.owner == fireauth.auth.currentUser.uid">
    <ion-button id='editButton' (click)='editPage()' color="secondary">
      Edit
    </ion-button>
    <ion-button id="shareButton" (click)="sharePage()" color="primary">
      Share
    </ion-button>
  </div>

</ion-content>