<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
      <ion-button id='delete' (click)='delete()' color='danger' small>
        <ion-icon name='trash'></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-title>Countr</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>
  <h2 align='center'>
    {{countdown.title}} <ion-icon *ngIf="countdown.isRepeat" name="infinite"></ion-icon>
  </h2><br><br>
  
  <div align="center" [class.minus-timer]="minusTimer">
    <div id="days-container" *ngIf="output.days">
      <div class="timer-digit">{{output.days}}</div>
      <div class="timer-descr">Days</div>
    </div>
    <div id="hours-container" *ngIf="!(output.days) && output.hours">
      <div class="timer-digit">{{output.hours}}</div>
      <div class="timer-descr">Hours</div>
    </div>
    <div id="minutes-container" *ngIf="!(output.days || output.hours) && output.minutes">
      <div class="timer-digit">{{output.minutes}}</div>
      <div class="timer-descr">Minutes</div>
    </div>
    <div id="seconds-container" *ngIf="!(output.days || output.hours || output.minutes) && output.seconds">
      <div class="timer-digit">{{output.seconds}}</div>
      <div class="timer-descr">Seconds</div>
    </div>
  </div>

  <!-- <div align="center" *ngIf="minusTimer" class="minus-timer">
    <div id="seconds-container" *ngIf="output.seconds">
      <div [class.timer-digit]="!isDesktop" [class.timer-digit-desktop]="isDesktop">{{output.seconds}}</div>
      <div [class.timer-descriptor]="!isDesktop" [class.timer-descriptor-desktop]="isDesktop">Seconds</div>
    </div>
    <div id="minutes-container" *ngIf="output.minutes">
      <div [class.timer-digit]="!isDesktop" [class.timer-digit-desktop]="isDesktop">{{output.minutes}}</div>
      <div [class.timer-descriptor]="!isDesktop" [class.timer-descriptor-desktop]="isDesktop">Minutes</div>
    </div>
    <div id="hours-container" *ngIf="()output.hours">
      <div [class.timer-digit]="!isDesktop" [class.timer-digit-desktop]="isDesktop">{{output.hours}}</div>
      <div [class.timer-descriptor]="!isDesktop" [class.timer-descriptor-desktop]="isDesktop">Hours</div>
    </div>
    <div id="days-container" *ngIf="output.days">
      <div [class.timer-digit]="!isDesktop" [class.timer-digit-desktop]="isDesktop">{{output.days}}</div>
      <div [class.timer-descriptor]="!isDesktop" [class.timer-descriptor-desktop]="isDesktop">Days</div>
    </div>
  </!-->

  <br /><br />

  <div align='center' id='description'>
    <ion-slides [options]="slideOptions" pager="true">
      <ion-slide *ngIf="countdown.description">
        <span class="title-text">Description</span>
        <span class="important-text">{{countdown.description}}</span>
      </ion-slide>
      <ion-slide>
        <span class="title-text">Finishes on</span>
        <span class="important-text">{{stop_time}}</span>
      </ion-slide>
      <ion-slide *ngIf="countdown.category != '__default__'">
        <span class="title-text">Category</span>
        <span class="important-text" id="category">
          <a *ngIf="countdown.category != '__default__'">
            <ion-chip (click)="categoryPage()" color="primary">
              <ion-label class="category-name">{{countdown.category}}</ion-label>
            </ion-chip>
          </a>
        </span>
      </ion-slide>
    </ion-slides>
  </div>

  <div id="tools">
    <span class="tool" id="edit" (click)="tool('edit')">
      Edit
      <!-- <ion-icon name="create" size="large" (click)="tool('edit')"></ion-icon> -->
    </span>
    <span class="tool" id="delete" (click)="tool('delete')">
      Delete
      <!-- <ion-icon name="trash" size="large" color="danger" (click)="tool('delete')"></ion-icon> -->
    </span>
  </div>

  <!-- <div id="countdown-button-container" align="center" *ngIf="countdown.owner == fireauth.auth.currentUser.uid">
    <ion-button id='editButton' (click)='editPage()' color="secondary">
      Edit
    </ion-button>
  </div> -->

</ion-content>