$timer-font-size: 28px;
$background-color: hsl(0, 0%, 99%); // 2 refs

@font-face {
    font-family: Oxygen Mono;
    src: url("src/assets/fonts/Roboto-Mono.ttf");
}

ion-content {
    // --ion-background-color: -webkit-linear-gradient(-45deg,#cc13441F, #12cb9a3F) !important;
    --ion-background-color: hsl(0, 0%, 99%); 
}

ion-toolbar {
    --background: hsl(0, 0%, 99%);
}

ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

.description {
    white-space: pre-line;
}

.minus-timer {
    color: rgb(240, 37, 37);
}

.timer {
    display: table-cell;
    width: 50%;
}

.timer-digit {
    font-size: 30.0vw; // fluid font size // change this ! Its too big in desktop view.
    display: inline-block;
    // font-size: 50px;
    // font-size: $timer-font-size;
    // background-color: brown;
    font-family: "Oxygen Mono", monospace !important;
}

.timer-digit-desktop {
    font-size: 10.0vw; // fluid font size // change this ! Its too big in desktop view.
    display: inline-block;
    // font-size: 50px;
    // font-size: $timer-font-size;
    // background-color: brown;
    font-family: "Oxygen Mono", monospace !important;
}

.timer-descriptor {
    font-size: 4vw;
}

.timer-descriptor-desktop {
    font-size: 22px;
}

.category {
    font-weight: bold;
}

#countdown-button-container {
    white-space: pre-line;
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 16px;
}

#delete {
    background-color: rgba(255, 255, 255, 0);
}

#signup-content {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding-bottom: 8px;
}

#login {
    background-color: rgb(52, 86, 147);
    color: rgb(247, 247, 247);
}

#editButton, #shareButton {
    width: 80%;
    position: relative;
    right: 0;
    left: 0;
}

#container {
    display: table;
    margin-left: 18%;
    width: 75%;
}

#navigation-container {
    display: table-cell;
    width: 30%;
}