page-details {}

#timer {
    padding-bottom: 10px;
    font-size: 18px;
}

#description {
    white-space: pre-line;
}

ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

#delete {
    align-items: right;
    align-self: right;
    align-content: right;
}

#timer {
    font-size: 28px;
}