$timer-font-size: 25px;

@font-face {
    font-family: Oxygen Mono;
    src: url("src/assets/fonts/Roboto-Mono.ttf");
    // src: url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
    // src: url("src/assets/fonts/B612-Mono.ttf");
}

ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

.description {
    white-space: pre-line;
}

#timer-digit {
    // font-size: 6.3vw; // fluid font size
    font-size: $timer-font-size;
    width: 100%;
    padding-bottom: 10px;
    font-family: "Oxygen Mono", monospace !important;
}

.timer-finished {
    font-size: $timer-font-size + 10;
    width: 100%;
    padding-bottom: 6px;
}

#divider {
    font-size: $timer-font-size;
}

.category {
    font-weight: bold;
}

.edit-container {
    white-space: pre-line;
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 16px;
}

#delete {
    background-color: rgba(255, 255, 255, 0);
}

#signup-content {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding-bottom: 8px;
}

#login {
    background-color: rgb(52, 86, 147);
    color: rgb(247, 247, 247);
}

#edit {
    width: 80%;
    position: relative;
    right: 0;
    left: 0;
}